backend/src/suomifi/viranomaispalvelutwsinterface/Viranomaispalvelut.xsd

<?xml version='1.0' encoding='UTF-8'?><!--

    Versio 1.0
    Versio 1.1 / 7.6.2018 / Jyri Piirainen
      - Lisätty TulostusToimittaja -elementti
      - LahetaOC -> LahetaTulostukseen
                                            
                                                                                                                                  
    Versio 1.2 / 14.2.2019 / Jyri Piirainen
      - Lisätty LaskutusTunniste LahetaViesti operaation Kysely -elementiin.
    Versio 1.3 / 15.2.2019 / Jyri Piirainen
      - asetettu LaskutusTunnisteen minimi pituudeksi 6 merkkiä
    Versio 1.4 / 15.2.2019 / Jyri Piirainen
                                                                
                                           
      - Lisätty Laskutus elementti ja LaskutusTunniste siirretty sen alle Tunniste nimellä. Lisätty
Laskutus Salasana.
    Versio 1.5 / 7.7.2021 / Ari Pyykko
      - Lisätty Viestityyppi Kohde_WS2-elementin alle.
    Versio 1.6 / 10.3.2022 / Erkka Mäkinen
      - Lisätty Varitulostus-elementti Kysely_WS2A-elementtiin.
    Versio 1.7 / 27.9.2022 / Jussi Aaltonen
      - Muutettu Viranomainen.PalveluTunnus-elementti pakolliseksi
      - Muutettu Kohde_WS2:n elementit Nimeke ja KuvausTeksti pakollisiksi
      - Poistettu Kohde_WS2:n elementit Maksullisuus, MaksamisKuvausTeksti, SmsLisatieto ja
TavoitettavuusTietoSMS
      - Poistettu Kysely_WS2A:n Tiedostot-elementti
      - Poistettu Kohde_WS2A:n Sivut-elementti
    -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsa10="http://www.w3.org/2005/08/addressing"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    xmlns:tns="http://www.suomi.fi/asiointitili"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" elementFormDefault="qualified"
    targetNamespace="http://www.suomi.fi/asiointitili" version="1.7">
    <xsd:complexType name="Viranomainen">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="ViranomaisTunnus" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="1" name="PalveluTunnus" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="KayttajaTunnus" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="Yhteyshenkilo" type="tns:Yhteyshenkilo" />
            <xsd:element maxOccurs="1" minOccurs="0" name="Osoite" type="tns:Osoite" />
            <xsd:element maxOccurs="1" minOccurs="0" name="SanomaTunniste" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="SanomaVersio" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="SanomaVarmenneNimi" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Kysely_WS1">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="KyselyLaji" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="1" name="KyselyAlku" nillable="true"
                type="xsd:dateTime" />
            <xsd:element maxOccurs="1" minOccurs="1" name="KyselyLoppu" nillable="true"
                type="xsd:dateTime" />
            <xsd:element maxOccurs="1" minOccurs="0" name="Asiakkaat" type="tns:ArrayOfAsiakas" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfAsiakas">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Asiakas" nillable="true"
                type="tns:Asiakas" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Asiakas">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Osoite" type="tns:Osoite" />
        </xsd:sequence>
        <xsd:attribute name="AsiakasTunnus" type="xsd:string" />
        <xsd:attribute name="Sahkoposti" type="xsd:string" />
        <xsd:attribute name="Matkapuhelin" type="xsd:string" />
        <xsd:attribute default="SSN" name="TunnusTyyppi" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="Yhteyshenkilo">
        <xsd:attribute name="Nimi" type="xsd:string" />
        <xsd:attribute name="Sahkoposti" type="xsd:string" />
        <xsd:attribute name="Matkapuhelin" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="Osoite">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="Nimi" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="1" name="Lahiosoite" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="1" name="Postinumero" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="1" name="Postitoimipaikka" type="xsd:string" />
            <xsd:element default="FI" maxOccurs="1" minOccurs="1" name="Maa" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Vastaus_WS1">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="TilaKoodi" type="tns:TilaKoodi_WS" />
            <xsd:element maxOccurs="1" minOccurs="0" name="Asiakkaat"
                type="tns:ArrayOfAsiakasJaTila_WS1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TilaKoodi_WS">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="TilaKoodi" type="xsd:int" />
            <xsd:element maxOccurs="1" minOccurs="0" name="TilaKoodiKuvaus" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="SanomaTunniste" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfAsiakasJaTila_WS1">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Asiakas" nillable="true"
                type="tns:AsiakasJaTila_WS1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AsiakasJaTila_WS1">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="Tila" type="xsd:int" />
            <xsd:element maxOccurs="1" minOccurs="1" name="TilaPvm" type="xsd:dateTime" />
            <xsd:element maxOccurs="1" minOccurs="1" name="TiliPassivoitu" type="xsd:int" />
        </xsd:sequence>
        <xsd:attribute name="AsiakasTunnus" type="xsd:string" />
        <xsd:attribute name="TunnusTyyppi" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="Kysely_WS2">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="KohdeMaara" type="xsd:int" />
            <xsd:element maxOccurs="1" minOccurs="0" name="Kohteet" type="tns:ArrayOfKohde_WS2" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfKohde_WS2">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Kohde" nillable="true"
                type="tns:Kohde_WS2" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Kohde_WS2">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="Asiakas" type="tns:Asiakas" />
            <xsd:element maxOccurs="1" minOccurs="0" name="ViranomaisTunniste" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="Viittaus" type="tns:Viittaus_WS" />
            <xsd:element maxOccurs="1" minOccurs="0" name="VahvistusVaatimus" type="xsd:int" />
            <xsd:element maxOccurs="1" minOccurs="0" name="VaadiLukukuittaus" type="xsd:int" />
            <xsd:element maxOccurs="1" minOccurs="0" name="AsiaNumero" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="1" name="Nimeke" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="1" name="LahetysPvm" type="xsd:dateTime" />
            <xsd:element maxOccurs="1" minOccurs="0" name="LahettajaNimi" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="1" name="KuvausTeksti" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="Tila" type="tns:Tila_WS2" />
            <xsd:element maxOccurs="1" minOccurs="0" name="Tiedostot" type="tns:ArrayOfTiedosto" />
            <xsd:element maxOccurs="1" minOccurs="0" name="ViranomaisenEmail" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="EmailLisatietoOtsikko" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="EmailLisatietoSisalto" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="TavoitettavuusTietoEmail"
                type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="Viestityyppi" type="xsd:int" />
            <xsd:element default="false" maxOccurs="1" minOccurs="0" name="LisaaOsoitesivu"
                type="xsd:boolean" />
            <xsd:element default="false" maxOccurs="1" minOccurs="0"
                name="SalliLiitteenKiertoPystyyn" type="xsd:boolean" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfKohde_WS2A">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Kohde" nillable="true"
                type="tns:Kohde_WS2A" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Kohde_WS2A">
        <xsd:complexContent>
            <xsd:extension base="tns:Kohde_WS2">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Viittaus_WS">
        <xsd:attribute name="ViittausTunniste" type="xsd:string" />
        <xsd:attribute name="ViittausTunnisteTyyppi" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="Tila_WS2">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="TilaKoodi" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="Tila" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="TilaKuvaus" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="1" name="TilaPvm" nillable="true"
                type="xsd:dateTime" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfTiedosto">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Tiedosto" nillable="true"
                type="tns:Tiedosto" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Tiedosto">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="TiedostonKuvaus" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="TiedostoURL" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="TiedostoSisalto" type="xsd:base64Binary" />
            <xsd:element maxOccurs="1" minOccurs="0" name="TiedostoID" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="TiedostoKoko" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="TiedostoMuoto" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="TiedostoNimi" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Vastaus_WS2">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="TilaKoodi" type="tns:TilaKoodi_WS" />
            <xsd:element maxOccurs="1" minOccurs="0" name="KohdeMaara" type="xsd:int" />
            <xsd:element maxOccurs="1" minOccurs="0" name="Kohteet"
                type="tns:ArrayOfKohdeJaAsiakasTila_WS2_V" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfKohdeJaAsiakasTila_WS2_V">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Kohde" nillable="true"
                type="tns:KohdeJaAsiakasTila_WS2_V" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="KohdeJaAsiakasTila_WS2_V">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="ViranomaisTunniste" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Asiakas"
                type="tns:AsiakasJaKohteenTila" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AsiakasJaKohteenTila">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="AsiointitiliTunniste" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="1" name="KohteenTila" type="xsd:int" />
            <xsd:element maxOccurs="1" minOccurs="0" name="KohteenTilaKuvaus" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="AsiakasTunnus" type="xsd:string" />
        <xsd:attribute name="TunnusTyyppi" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="Kysely_WS2A">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Paperi" type="xsd:boolean" />
            <xsd:element maxOccurs="1" minOccurs="0" name="Kohteet" type="tns:ArrayOfKohde_WS2A" />
            <xsd:element maxOccurs="1" minOccurs="1" name="Tulostustoimittaja" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Esim. Edita, Posti</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element default="true" maxOccurs="1" minOccurs="0" name="LahetaTulostukseen"
                type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Testikäytössä, aikaisemmin LahetaOC</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Laskutus">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Tunniste">
                            <xsd:annotation>
                                <xsd:documentation>Tulostustoimittajalle toimitettava
                                    palvelukohtainen tunniste</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6" />
                                    <xsd:maxLength value="6" />
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="Salasana">
                            <xsd:annotation>
                                <xsd:documentation>Laskutukseen liittyvä salasana, jos
                                    Tulostustoimittaja sitä vaatii</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="4" />
                                    <xsd:maxLength value="4" />
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Kustannuspaikka" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Asiakasorganisaation sisäiseen kustannusten seurantaan tai niiden kohdentamista varten käytettävä tunniste</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="15"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Varitulostus" type="xsd:boolean" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Vastaus_WS2A">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="TilaKoodi" type="tns:TilaKoodi_WS" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Kysely_WS10" />
    <xsd:complexType name="Vastaus_WS10">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="TilaKoodi" type="tns:TilaKoodi_WS" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="HaeAsiakkaita">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="Viranomainen" type="tns:Viranomainen" />
                <xsd:element maxOccurs="1" minOccurs="1" name="Kysely" type="tns:Kysely_WS1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HaeAsiakkaitaResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="HaeAsiakkaitaResult"
                    type="tns:Vastaus_WS1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LisaaKohteita">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="Viranomainen" type="tns:Viranomainen" />
                <xsd:element maxOccurs="1" minOccurs="1" name="Kysely" type="tns:Kysely_WS2" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LisaaKohteitaResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="LisaaKohteitaResult"
                    type="tns:Vastaus_WS2" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LahetaViesti">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="Viranomainen" type="tns:Viranomainen" />
                <xsd:element maxOccurs="1" minOccurs="1" name="Kysely" type="tns:Kysely_WS2A" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LahetaViestiResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="LahetaViestiResult"
                    type="tns:Vastaus_WS2A" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HaeTilaTieto">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="Viranomainen" type="tns:Viranomainen" />
                <xsd:element maxOccurs="1" minOccurs="1" name="Kysely" type="tns:Kysely_WS10" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HaeTilaTietoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="HaeTilaTietoResult"
                    type="tns:Vastaus_WS10" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>