backend/src/suomifi/viranomaispalvelutwsinterface/ViranomaispalvelutWSInterface.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
  xmlns:tns="http://www.suomi.fi/asiointitili" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  name="Viranomaispalvelut" targetNamespace="http://www.suomi.fi/asiointitili">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
      xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
      xmlns:tns="http://www.suomi.fi/asiointitili"
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" elementFormDefault="qualified">

      <xsd:import namespace="http://www.suomi.fi/asiointitili"
        schemaLocation="Viranomaispalvelut.xsd" />

    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Viranomaispalvelut_HaeAsiakkaita_Pyynto">
    <wsdl:part element="tns:HaeAsiakkaita" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Viranomaispalvelut_HaeTilaTieto_Pyynto">
    <wsdl:part element="tns:HaeTilaTieto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Viranomaispalvelut_HaeAsiakkaita_Vastaus">
    <wsdl:part element="tns:HaeAsiakkaitaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Viranomaispalvelut_LisaaKohteita_Vastaus">
    <wsdl:part element="tns:LisaaKohteitaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Viranomaispalvelut_HaeTilaTieto_Vastaus">
    <wsdl:part element="tns:HaeTilaTietoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Viranomaispalvelut_LisaaKohteita_Pyynto">
    <wsdl:part element="tns:LisaaKohteita" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Viranomaispalvelut_LahetaViesti_Pyynto">
    <wsdl:part element="tns:LahetaViesti" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Viranomaispalvelut_LahetaViesti_Vastaus">
    <wsdl:part element="tns:LahetaViestiResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Viranomaispalvelut">
    <wsdl:operation name="HaeAsiakkaita">
      <wsdl:input message="tns:Viranomaispalvelut_HaeAsiakkaita_Pyynto"
        wsaw:Action="http://www.suomi.fi/asiointitili/Viranomaispalvelut/HaeAsiakkaita">
      </wsdl:input>
      <wsdl:output message="tns:Viranomaispalvelut_HaeAsiakkaita_Vastaus"
        wsaw:Action="http://www.suomi.fi/asiointitili/Viranomaispalvelut/HaeAsiakkaitaResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LisaaKohteita">
      <wsdl:input message="tns:Viranomaispalvelut_LisaaKohteita_Pyynto"
        wsaw:Action="http://www.suomi.fi/asiointitili/Viranomaispalvelut/LisaaKohteita">
      </wsdl:input>
      <wsdl:output message="tns:Viranomaispalvelut_LisaaKohteita_Vastaus"
        wsaw:Action="http://www.suomi.fi/asiointitili/Viranomaispalvelut/LisaaKohteitaResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeTilaTieto">
      <wsdl:input message="tns:Viranomaispalvelut_HaeTilaTieto_Pyynto"
        wsaw:Action="http://www.suomi.fi/asiointitili/Viranomaispalvelut/HaeTilaTieto">
      </wsdl:input>
      <wsdl:output message="tns:Viranomaispalvelut_HaeTilaTieto_Vastaus"
        wsaw:Action="http://www.suomi.fi/asiointitili/Viranomaispalvelut/HaeTilaTietoResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LahetaViesti">
      <wsdl:input message="tns:Viranomaispalvelut_LahetaViesti_Pyynto"
        wsaw:Action="http://www.suomi.fi/asiointitili/Viranomaispalvelut/LahetaViesti">
      </wsdl:input>
      <wsdl:output message="tns:Viranomaispalvelut_LahetaViesti_Vastaus"
        wsaw:Action="http://www.suomi.fi/asiointitili/Viranomaispalvelut/LahetaViestiResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ViranomaispalvelutSoap" type="tns:Viranomaispalvelut">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HaeAsiakkaita">
      <soap:operation soapAction="http://www.suomi.fi/asiointitili/Viranomaispalvelut/HaeAsiakkaita"
        style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LisaaKohteita">
      <soap:operation soapAction="http://www.suomi.fi/asiointitili/Viranomaispalvelut/LisaaKohteita"
        style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeTilaTieto">
      <soap:operation soapAction="http://www.suomi.fi/asiointitili/Viranomaispalvelut/HaeTilaTieto"
        style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LahetaViesti">
      <soap:operation soapAction="http://www.suomi.fi/asiointitili/Viranomaispalvelut/LahetaViesti"
        style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ViranomaispalvelutService">
    <wsdl:port binding="tns:ViranomaispalvelutSoap" name="ViranomaispalvelutPort">
      <soap:address
        location="http://qat.integraatiopalvelu.fi/Asiointitili/ViranomaispalvelutWSInterface" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>